<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: base(~{::#title}, ~{::#content})}">
<th:block id="title">Ajouter une équipe</th:block>
<th:block id="content">
    <form method="post" th:action="@{/admin/team/add}" th:object="${teamDTO}">
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">Impossible d'ajouter l'équipe</div>
        <div class="mb-3">
            <label for="name" class="form-label">Nom de l'équipe</label>
            <input type="text" id="name" th:field="*{name}"
                   placeholder="Nom de l'équipe" class="form-control"
                   th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'">
            <div class="invalid-feedback" th:errors="*{name}"></div>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter l'équipe</button>
    </form>
</th:block>
</html>