<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: base(~{::#title}, ~{::#content})}">
    <th:block id="title">Classement</th:block>
    <th:block id="content">
        <div class="container">
            <table class="table table-striped">
                <thead class="table-dark">
                <tr>
                    <th>N°</th>
                    <th>Équipe</th>
                    <th>MJ</th>
                    <th>G</th>
                    <th>N</th>
                    <th>P</th>
                    <th>BP</th>
                    <th>BC</th>
                    <th>DB</th>
                    <th>Pts</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="row : ${ranking}">
                    <td th:text="${row.rank}"></td>
                    <td><a th:href="@{'/team/' + ${row.team.id}}" th:text="${row.team.name}"></a></td>
                    <td th:text="${row.matchPlayedCount}"></td>
                    <td th:text="${row.matchWonCount}"></td>
                    <td th:text="${row.drawCount}"></td>
                    <td th:text="${row.matchLostCount}"></td>
                    <td th:text="${row.goalForCount}"></td>
                    <td th:text="${row.goalAgainstCount}"></td>
                    <td th:text="${row.goalDifference}"></td>
                    <td th:text="${row.points}"></td>


                </tr>
                </tbody>
            </table>
        </div>
    </th:block>

</html>

