<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: base(~{::#title}, ~{::#content})}">
    <th:block id="title" th:text="${row.team.name}"></th:block>
    <th:block id="content">

        <table class="table table-striped">
            <thead class="table-dark">
            <tr>
                <th>N°</th>
                <th>Équipe</th>
                <th>MJ</th>
                <th>G</th>
                <th>N</th>
                <th>P</th>
                <th>BP</th>
                <th>BC</th>
                <th>DB</th>
                <th>Pts</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${row.rank}"></td>
                <td th:text="${row.team.name}"></td>
                <td th:text="${row.matchPlayedCount}"></td>
                <td th:text="${row.matchWonCount}"></td>
                <td th:text="${row.drawCount}"></td>
                <td th:text="${row.matchLostCount}"></td>
                <td th:text="${row.goalForCount}"></td>
                <td th:text="${row.goalAgainstCount}"></td>
                <td th:text="${row.goalDifference}"></td>
                <td th:text="${row.points}"></td>
            </tr>
            </tbody>
            <table class="table table-striped">
                <tbody>
                    <tr th:each="match : ${matches}">
                        <td th:text="|${#temporals.format(match.date, 'dd/MM/yyyy')} ${#temporals.format(match.time, 'HH:mm')}|"></td>
                        <td><a th:href= "@{'/team/'+ ${match.homeTeam.id}}" th:text="${match.homeTeam.name}"></a></td>
                        <td th:text="|${match.homeTeamGoals} - ${match.awayTeamGoals}|"></td>
                        <td><a th:href= "@{'/team/'+ ${match.awayTeam.id}}" th:text="${match.awayTeam.name}"></a></td>
                    </tr>
                </tbody>
            </table>
        </table>
    </th:block>
</html>